/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: "Quattrocento", serif;
    line-height: 1.6;
    background-color: #36393e;
}

/* Header Styling */
header {
    background-color: #553c1c;
    color: white;
    padding: 1rem;
    text-align: center;
}

/* Main Container */
.main-container {
    display: flex; /* Flexbox for layout */
    max-width: 1200px;
    margin: 20px auto; /* Center the content */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Sidebar Navigation */
.sidebar {
    flex: 1; /* Takes up one part of the flexbox */
    background-color: #795629;
    color: white;
    padding: 20px;
}

.sidebar .nav-tree {
    list-style: none; /* Remove default list styling */
    padding: 0;
    text-align: center;
}

.sidebar .nav-tree li {
    margin: 10px 0;
}

.sidebar .nav-tree li a {
    color: white;
    font-weight: bold;
}

.sidebar .nav-tree li a:hover {
    color: #4CAF50; /* Hover effect */
}

.sidebar .nav-tree .h1 {
    color: white;
    font-weight: bold;
    font-size: larger;
}

/* Content Section */
.content {
    flex: 6; /* Takes up three parts of the flexbox */
    padding: 25px;
    background-color:#9e7035
}

.content p {
font-style: italic;
font-weight: 400;
}

/* Subsection Styling */
section {
    margin-bottom: 20px;
}

section h2 {
    margin-bottom: 10px;
    
}


/* Removing Blue link color */
a {
    color: inherit;
  }

a:hover {
    color: #4CAF50; /* Hover effect */
}